*{
  font-family: "Averta Demo PE", sans-serif;

}
.noticias-imagen{
  width: 70%;
}

noticias-imagen{
  height: 100%;
}

.favoritos{
  padding: 10px;
  border-radius: 10px;
}

.bts-favoritos{
  margin-right: 10px;
}



.adricolor{
  color: #555555;

}

.titulo_noticia{
  text-align: justify;
  font-weight: bold;
}

.noticias-enunciado{
  max-width: 500px;
  text-align: justify;
  word-wrap: break-word;
}

.adricolor_1{
  color: #373737;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
