* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Averta Demo PE", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
}

.noticias-enunciado{
  max-width: 500px;
  word-wrap: break-word;

}

.icones-enunciado{
  width: 40%;

}

.noticias-imagen{
  width: 68%;
}

.noticias-opciones{
  width: 100%;
}

.size-btn{
  width: 30px;
  height: 30px;
}

.mlado-2{
  margin-right: 10px;
}


.news-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.div-noticias{
  justify-content: space-between;
  height: 75%;
}

.container-size{

}

.news-container {


  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.news-container h4 {
  margin-bottom: 10px;
  color: #333;
}

.news-container p {
  color: #555;
}

.opciones{
  width: 20%;
}

.adricolor_1{
  color: #373737;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.adricolor{
  color: #555555;
  font-size: 15px;
}

.titulo_noticia{
  text-align: justify;
  font-weight: bold;
}

.noticias-enunciado{
  text-align: justify;
}














