<div class="container-fluid  ">


  <div class="row adrianv ">

    <div class="p-5 col-lg-3 col-md-3  col-sm-3	col-2 d-none d-sm-block"> <!--primera columna de configuraciones -->

      <div class="row ">   <!-- fila 1 para configuraciones -->
       <div class="d-flex flex-column align-items-center justify-content-center vh-35">
        <div class= "nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</button>
          <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</button>
          <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</button>
          <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>
        </div>
       </div>
      </div>

      <div class="row border-top d-flex justify-content-center vh-54 "  >  <!--segunda fila para configuraciones -->
        hola mundo
      </div>

    </div>
    <div class="d-block d-sm-none ">
      Holi.
    </div>


  <div class="col-lg-9  col-md-9  col-sm-9 col-12	 bg-light">
    noticias
  </div>

  </div> <!-- cierre de fila-->

</div>





<!--


-->

