*{
  font-family: "Averta Demo PE", sans-serif;
}

.areacontrol{
  width: 100%;
  height: 100px;
  resize: none;
}

.adri_color{
  background-color: #4CAF50;
  color: white;
}

.b-c{
  min-height: 94vh;

}
