<div class="container b-c">
  <form #notiiaForm = "ngForm">

  <input    class="form-control form-control-lg" for="titulo" type="text" placeholder="Titulo de la noticia"
            [(ngModel)]="noticia.titulo" name="titulo" aria-label=".form-control-lg example" required>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"></label>
      <textarea [(ngModel)]="noticia.texto" maxlength="255" name="texto" class="form-control areacontrol"  placeholder="Escribe la noticia aqui" id="exampleFormControlTextarea1" rows="3">

      </textarea>
      <small [class.text-danger]="(noticia.texto?.length || 0) === 255">
        {{ noticia.texto?.length || 0 }}/255 caracteres
      </small>
    </div>

    <div class="mb-3">
      <label for="formFile" class="form-label">Agregar imagen</label>
      <input class="form-control"  type="file" id="formFile">
    </div>

    CategoriaCategoria
    <div class="form-check form-switch mt-3">
      <input class="form-check-input" type="checkbox" role="switch" id="Ingenieria"
             (change)="seleccionar('Ingenieria', $event)">
      <label class="form-check-label" for="Ingenieria">Ingenieria</label>
    </div>
    <div class="form-check form-switch mt-3">
      <input class="form-check-input" type="checkbox" role="switch" id="Salud"
             (change)="seleccionar('Salud', $event)">
      <label class="form-check-label" for="Salud">Salud</label>
    </div>
    <div class="form-check form-switch mt-3">
      <input class="form-check-input" type="checkbox" role="switch" id="Derecho"
             (change)="seleccionar('Derecho', $event)">
      <label class="form-check-label" for="Derecho">Derecho</label>
    </div>
    <div class="form-check form-switch mt-3">
      <input class="form-check-input" type="checkbox" role="switch" id="Administrativos"
             (change)="seleccionar('Administrativos', $event)">
      <label class="form-check-label" for="Administrativos">Administrativo</label>
    </div>
    <div class="form-check form-switch mt-3">
      <input class="form-check-input" type="checkbox" role="switch" id="Ingles"
             (change)="seleccionar('Ingles', $event)">
      <label class="form-check-label" for="Ingles">Ingles</label>
    </div>


    <a type="submit" class="btn adri_color mt-5" (click)="subir()" >Subir noticia</a>

  </form>
</div>
